import {
  Entity,
  PrimaryGeneratedColumn,
  CreateDateColumn,
  UpdateDateColumn,
} from 'typeorm';
import { IBaseEntity } from '@/core/entity/base.entity';

@Entity()
export class {{className}} implements IBaseEntity {
  @PrimaryGeneratedColumn()
  id: string;

  @CreateDateColumn()
  created_at: Date;

  @UpdateDateColumn()
  updated_at: Date;

  constructor(partial: Partial<{{className}}>) {
    Object.assign(this, partial);
  }
}

export type {{className}}Type = InstanceType<typeof {{className}}>;
