import { z } from 'zod';
import { baseSchema, baseCreateSchema, baseUpdateSchema } from './base.schema';

export const {{modelName}}Schema = baseSchema.extend({
  // Add fields here
});

export const {{modelName}}SchemaSerialized = {{modelName}}Schema.omit({
  // Add fields here
}).strict();

export const create{{className}}Schema = baseCreateSchema.extend({
  // Add fields here
});

export const update{{className}}Schema = baseUpdateSchema.extend({
  // Add fields here
});

export type TCreate{{className}} = z.infer<typeof create{{className}}Schema>;
export type TUpdate{{className}} = z.infer<typeof update{{className}}Schema>;
export type TSerialized{{className}} = z.infer<typeof {{modelName}}SchemaSerialized>;
export type T{{className}} = z.infer<typeof {{modelName}}Schema>;





